header {
  background: #8fd57e;
  box-shadow: 0px 3px 6px #00000029;

  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .boxLogo {
    display: flex;
    align-items: center;

    h1 {
      font-size: 32px;
    }

    img {
      margin-right: 35px;
    }
  }

  .boxProfile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;

    .boxProfileText {
      color: #fff;

      h2 {
        font-size: 21px;
      }

      span {
        font-size: 17px;
      }
    }

    img {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      border: 4px solid #fff;
    }
  }
}
