.contentWrapper {
  position: fixed;
  width: calc(100% - 232px);
  height: 45px;
  background: #cbc6c6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 38px;
  top: 65px;
  z-index: -1;
}

.boxProfileFriends {
  display: flex;
  gap: 40px;

  .profileFriends {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    a {
      color: #474747;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.boxProfileLinks {
  display: flex;
  gap: 40px;

  .profileLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    a {
      color: #474747;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
